
{% extends 'blog/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About This Project</h1>
    <p>Este proyecto fue creado con python y django por Alvaro alvarez, esta hecho para ser un blog de recetas, y entregarlo como proyecto final a coderhouse.</p>
    <p>aca los usuarios se pueden, registrar, chatear, subir recetas, comentar.

        Muchas Gracias.
    </p>
</body>
</html>
{% endblock %}

