{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>{{ post.titulo }}</h2>
    <p><strong>{{ post.subtitulo }}</strong></p>
    <p>Publicado el {{ post.fecha_publicacion|date:"d/m/Y" }}</p>

    {% if post.imagen %}
        <img src="{{ post.imagen.url }}" alt="Imagen del post" class="img-fluid mb-3">
    {% else %}
        <p>No hay imagen para este post.</p>
    {% endif %}

    <p class="ingredientes-texto">{{ post.descripcion }}</p>
    
    <div class="d-flex gap-2 mb-3" style="max-width: 300px;">
        {% if user.is_authenticated and user.is_staff %}
            <!-- Botón de eliminar post para administradores -->
            <form action="{% url 'post_delete' post.id %}" method="post" style="display:inline; flex: 1;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm w-100">Eliminar Post</button>
            </form>
        {% endif %}

        {% if request.user == post.author or request.user.is_superuser %}
            <!-- Botón de editar post para el autor o administradores -->
            <a href="{% url 'editar_post' post.id %}" class="btn btn-primary btn-sm w-100" style="flex: 1;">Editar Post</a>
        {% endif %}
    </div>

    <hr>

    <h4>Comentarios</h4>
    {% if comentarios %}
        <ul>
            {% for comentario in comentarios %}
                <li>{{ comentario.texto }} - <small>{{ comentario.autor }} el {{ comentario.fecha }}</small></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay comentarios todavía. ¡Sé el primero en comentar!</p>
    {% endif %}

    <hr>

    <h4>Deja un comentario</h4>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="texto">Texto:</label>
            <textarea id="texto" name="texto" rows="4" class="form-control" placeholder="Escribe tu comentario aquí"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm mt-2">Enviar comentario</button>
    </form>
</div>
{% endblock %}
