{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Libro de recetas</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Mostrar imagen si existe -->
                    {% if post.imagen %}
                        <img src="{{ post.imagen.url }}" class="card-img-top" alt="{{ post.titulo }}">
                    {% else %}
                        <!-- Mostrar un placeholder si no hay imagen -->
                        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="Imagen no disponible">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titulo }}</h5>
                        <p class="card-text">{{ post.subtitulo }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Leer Más</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
